
@{
    Layout = null;
}

@using SmartRescueSystem.Models;
@model SmartRescueSystem.Models.Emergency

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/MDB-Free_4.8.8/css/bootstrap.min.css">
    <!-- MDB CSS -->
    <link rel="stylesheet" href="~/MDB-Free_4.8.8/css/mdb.min.css">
    <!-- custom Stylesheet -->
    <link rel="stylesheet" href="~/MDB-Free_4.8.8/css/style.css">
    <title>SmartRescueSystem | Welcome</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar" style="background-color:#24355C">

        <div class="container">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">Smart Rescue System</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topnav"
                    aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="topnav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="/SP/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/SP/Logout">Logout</a>
                    </li>
                </ul>
                <!-- Links -->
            </div>
        </div>

    </nav>
    <main>
        <div class="container">
            <h2 class="mt-5">Emergencies</h2>
            <div class="card mt-3">
                <div class="card-body">
                    @using (Html.BeginForm("AcceptEmergency","SP",FormMethod.Post))
                    {
                        <table class="table">
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.emergency_title)</th>
                                <td>@Html.TextBoxFor(m => m.emergency_title, new { @class = "form-control", @readonly = "true" })</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.emergency_location)</th>
                                <td>@Html.TextBoxFor(m => m.emergency_location, new { @class = "form-control", @readonly = "true" })</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.emergency_detail)</th>
                                <td>@Html.TextBoxFor(m => m.emergency_detail, new { @class = "form-control", @readonly = "true" })</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.sp_remarks)</th>
                                <td>@Html.TextBoxFor(m => m.sp_remarks, new { @class = "form-control"})</td>
                            </tr>
                        </table>
                        <button type="submit" class="btn btn-primary">Accept</button>
                    }
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer blue">
        <div class="footer-copyright text-center py-3">
            Made with <span>&hearts;</span>
            <a href="#"> Eziline</a>
        </div>
    </footer>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/MDB-Free_4.8.8/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/MDB-Free_4.8.8/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/MDB-Free_4.8.8/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/MDB-Free_4.8.8/js/mdb.min.js"></script>
    <!-- validation script -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>